body{
  background-color: #282c34;
  /*background-color: #494d56;*/
  /*background-color: #363a42;*/
  color: white;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  font-family: sans-serif;
}
a:link{
  color: white;
}
a:visited{
  color: darkgray;
}
img{
  max-width: 90%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit:contain;
}
ol{
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  list-style: none;
}
.navBarContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  position: fixed;
  top: 0;
  width: 80%;
  background-color: #282c34;
}
.navBarContainer a{
  width: 25%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gray;
  border-radius: 16px;
  text-decoration: none;
}
.navBarContainer a:hover{
  background-color: purple;
}
.navBarContainer a:visited{
  color: white;
}
.navPadding{
  height:20px;
}
.textBlock{
  margin:auto;
  width: 100%;
}
.textBlock h1{
  text-align: center;
}
.textBlock h2{
  text-align: center;
}
.textBlock h3{
  text-align: center;
}
.textBlock p{
  text-align: left;
}
.MainHead{
  background-color: gray;
}
.MainHeadChild{
  order:1;
  text-align: center;
  display:flex;
  align-items:vertical;
  justify-content: center;
  width: 100%;
}
.GroupsList{
  text-align: center;
  width: 100%;
  background-color: rgba(200, 200, 200, 0.2);
}
.teamBlock{
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.teamMember{
  width: 30%;
  text-align: center;
}
.BrunoList{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (min-width:1301px){
  body{
  }
  .MainHead{
    /*height: 320px;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
  .MainHeadChild{
    flex: 1;
  }
  .mobileBreak{
    visibility: hidden;
  }
  .mobilepadding{
    height: 50px;
  }
  .researchContainerChild{
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  .researchItem{
    flex: 1;
  }
  .researchItem h3{
    height: 50px;
  }
  .textxpicContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .textxpicMIDIContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    /*border: 1px solid green;*/
  }
  .textBlock_group{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /*border: 1px solid blue;*/
    flex: 0 1 50%;
  }
  .textxpic{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    /*border: 1px solid red;*/
  }
  .textxpicChild{
    display: flex;
    flex: 1;
    width:100%;
    align-items: center;
    justify-content: center;
    /*border: 1px solid green;*/
  }
  .Bruno{
    background-color:gray;
  }
  .Casadevall{
    background-color: #363a42;
  }
  .Culotta{
    background-color: #363a42;
  }
  .Green{
    background-color:gray;
  }
  .Hardwick{
    background-color:gray;
  }
  .Karlsson{
    background-color: #363a42;
  }
  .Marten{
    background-color: #363a42;
  }
  .Shoham{
    background-color: gray;
  }
  .Zhang{
    background-color: #363a42;
  }
}
@media only screen and (min-width: 901px) and (max-width: 1300px){
  body{
  }
  .MainHead{
    /*height: 320px;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
  .MainHeadChild{
    flex: 1;
  }
  .mobileBreak{
    visibility: hidden;
  }
  .mobilepadding{
    height: 50px;
  }
  .researchContainerChild{
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  .researchItem{
    flex: 1;
  }
  .researchItem h3{
    height: 50px;
  }
  .textxpicContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .textxpicMIDIContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
  .textBlock_group{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 0 1 50%;
  }
  .textxpic{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    align-items: center;
  }
  .textxpicChild{
    display: flex;
    width:95%;
    align-items: center;
    justify-content: space-around;
  }
  .textxpicChild p{
    width: 95%;
  }
  .textxpicChild ul{
    width: 80%;
  }
  .Bruno{
    background-color:gray;
  }
  .Casadevall{
    background-color: #363a42;
  }
  .Culotta{
    background-color: #363a42;
  }
  .Green{
    background-color:gray;
  }
  .Hardwick{
    background-color:gray;
  }
  .Karlsson{
    background-color: #363a42;
  }
  .Marten{
    background-color: #363a42;
  }
  .Shoham{
    background-color: gray;
  }
  .Zhang{
    background-color: #363a42;
  }
}
@media only screen and (max-width: 900px){
  body{
  }
  .MainHead{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .MainHeadChild{
  }
  .textBlock p{
    text-align: justify;
  }
  .mobileBreak{
    visibility: visible;
  }
  .mobilepadding{
    height: 20px;
  }
  .researchContainerChild{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
  }
  .textxpicContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .textxpicMIDIContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .textBlock_group{
    width: 90%;
    flex: 1 1 0px;
  }
  .textxpic{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .textxpicChild{
    display: flex;
    width:98%;
    align-items: center;
    justify-content: center;
  }
  .textxpicChild img{
    max-height: 300px;
  }
  .Bruno{
    background-color:gray;
  }
  .Casadevall{
    background-color: #282c34;
  }
  .Culotta{
    background-color:gray;
  }
  .Green{
    background-color: #282c34;
  }
  .Hardwick{
    background-color:gray;
  }
  .Karlsson{
    background-color: #282c34;
  }
  .Marten{
    background-color: gray;
  }
  .Shoham{
    background-color: #282c34;
  }
  .Zhang{
    background-color: gray;
  }
  .teamBlock{
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  .teamMember{
    font-size: 16px;
    width: 100%;
  }
}
